!!!
%html
  %head
    %title c2renew
    %link(rel="stylesheet" href="stylesheets/bootstrap.min.css")
    %link(rel="stylesheet" href="stylesheets/style.css")
    = javascripts('bootstrap.min')
  %body
    .shell
      .container
        .row
          .col-md-12
            .header
              <a href="index.html" class="home-img-link"><img src="images/logo.png" class="logo"/></a>
              .col-md-7.menu
                %ul
                 %li
                    = link "Materials"
                  %li
                    = link "Why Biomass?"
                  %li
                    = link "About Us"
                  %li 
                    = link "Engineering Services"
                  %li
                    = link "Contact"

              .col-md-5
                .quote
                  %h2.visible-lg
                    We turn agricultural residuals 
                    %br/
                    into just about anything.
      = yield
