- @layout = "header"
.container
  .row
    .col-md-12
      .content
        %h1 About c2renew
        c2renew provides a performance driven biocomposite material that offers price stability to a volatile
        plastics market and a greener alternative.
        c2renew is a material designer and custom compounder who utilizes proprietary biocomposite 
        formulations to meet a wide range of engineering specifications.
        c2renew corporation designs biocomposite material compounds from agriculture byproducts along with 
        recycled or virgin plastics from petroleum or renewable resources.
        c2renew provides engineering services to its customers to help design, analyze, and develop plastic and 
        plastic composites parts for a wide variety of applications.

        %h2 Press
        %ul.list-unstyled
          %li 
            = link_to  'Highline Notes - June/July 2013', 'http://kwh.coopwebbuilder.com/sites/kwh.coopwebbuilder.com/files/june_hln_2013.pdf'
          %li 
            = link_to 'Prairie Business - July 2013',  'http://www.prairiebizmag.com/event/article/id/15145/'
          %li 
            = link_to 'Inforum - June 2013', 'http://www.inforum.com/event/article/id/404669/'
          %li 
            = link_to 'Global University Venturing - November 2012','http://www.globaluniversityventuring.com/article.php/2502/ndsu-moves-tech-to-c2renew'
          %li 
            = link_to 'NDSU Reseach - October 2012', 'http://www.ndsu.edu/research/press_room/feature_stories-2012/c2renew.html'
